@{
    ViewData["Title"] = "Home Page";
}

<div class="stats">
    <h4>Fullness: XX</h4>
    <h4>Happiness: XX</h4>
    <h4>Meals: X</h4>
    <h4>Energy: XX</h4>
</div>
<div class="dojodachi-container">
    <img src=~/images/creature.png>
    <h3>Some type of message will go here</h3>
</div>
<div class="buttons">
    <a href="generate" class="btn btn-primary btn-lg" role="button">Feed</a>
    <a href="generate" class="btn btn-primary btn-lg" role="button">Play</a>
    <a href="generate" class="btn btn-primary btn-lg" role="button">Work</a>
    <a href="generate" class="btn btn-primary btn-lg" role="button">Sleep</a>
</div>
