body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h4{
    display: inline-block;
    margin-right: 2%;
}

.stats{
    margin-top: 3%;
    text-align: center;
    margin-bottom: 3%;
}

.dojodachi-container{
    border: 2px solid black;
    /* //display: inline-block; */
    float: center;
    margin-left: 25%;
    margin-right: 35%;
    margin-bottom: 3%;
    padding: 3% 0%;
    width: 55%;

}

.dojodachi-container img{
    margin-left: 15%;
}

.dojodachi-container h3{
    text-align: center;
}

.buttons{
    float: center;
    margin-left: 35%;
    margin-right: 35%;
}

.buttons a{
    box-shadow: 3px 3px black;
    margin-right: 2%;
}